body {
  width: 100%;
    overflow-x: hidden;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  color: #e5e5e5;
  font-size: 12px;
  background: #eee;
  line-height: 1;
}
p{color:grey;}
h1 {
  margin: 25px 10px;
  font-size: 28px;
  text-align: center;
  color: orange;
}
.navbar-default
{
  background-color: #fff!important;
}
.navbar-nav>li>.dropdown-menu {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown-menu {
  width: 100%;
  min-width: 300px;
  padding-bottom: 60px;
  max-width: 1110px;
}
.logo-header
{
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 70px;
  background-position: -462px 0;
}
.mega-dropdown {
  position: static !important;
}

.navbar-brand {
  border-right: 2px solid #eee;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 500;
}


.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.red
{
  color:#ee5f73!important;
}
.pink
{
  color:#fb56c1!important;
}
.orange
{
  color:#f26a10!important;
}
.yellow
{
  color:#f2c210!important;
}
.mega-dropdown-menu > li > ul > li > a:hover {
  color: #000;
  text-decoration: none;
}

.dropdown-header {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
  margin: 10px 0;
  color: #000;
}

.menu-images {
  padding: 5px 20px 5px 20px;
}

.dropdown.mega-dropdown:hover,
.dropdown.mega-dropdown:active,
.dropdown.mega-dropdown:focus {
  background: #eee;
}

.single-item:hover,
.single-item:active,
.single-item:focus {
  background: #eee;
}

span.glyphicon.glyphicon-chevron-down {
  padding: 2px 10px;
}

.dropdown-menu{background:#fff!important;}

.badge-danger {
  background-color: #d9534f;
  position: absolute;
  padding: 3px 3px;
}
.shop-btn
{
padding-top: 5px!important;
}
.icon-cart
{
  position: relative;
  font-size: 24px!important;
  margin-left: 20px;
}

.fade-carousel {
  margin-top: 20px;
  position: relative;
  height: 500px;
}
.fade-carousel .carousel-inner .item {
  height: 500px;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
width: 10px;
height: 10px;
opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s;    
}



/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}
.no-padding
{
  padding-left: 0px;
  padding-right: 0px;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  width: 100%;
  height: 500px;
  z-index: 2;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;


}

.fade-carousel .slides .slide-1 {
background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); 
}
.fade-carousel .slides .slide-2 {

background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {

background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}
@media (min-width:991px)
{
  .portfolio-item
  {
    margin-bottom: 10px;
    padding-right: 0px;
    padding-left: 30px;
    margin: 25px;
  }
  
}
@media (min-width: 767px)  {
  .nav>li>a:hover
{
 
  border-bottom-style: solid;
  border-bottom-width: 4px;
  -webkit-transition: left .2s ease-out,border-color .5s ease-in;
  transition: left .2s ease-out,border-color .5s ease-in;
}
  .mega-dropdown a:hover,.mega-dropdown a:active,.mega-dropdown a:focus
{
  background: #fff!important;
}
  .nav>li>a {
    height: 65px;
  }
  .navbar-nav>li>.dropdown-menu {
margin-left: 40px;
  }
  .navbar-nav
{
  margin: 15px;
  margin-left: 150px!important;
  margin-bottom: 0px;
}
.search-input
{
  display: inline-block;
  background-color: #f5f5f6;
    border: none;
    margin-top: 15px;
    min-width: 500px;
}
.search-form
{
  float: right;
 
    margin-top: 3px;
}
.search-btn { 
  background-color: #f5f5f6;
    color: gray;
    margin-top: 15px;
    margin-left: -44px;
}
}
@media only screen and (max-width: 990px) {
.portfolio-item {
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 40px;
}
}
@media only screen and (max-width: 767px) {
  .search-input
{
  display: inline-block;
  background-color: #f5f5f6;
    border: none;
  
}
.search-btn { 
  position: relative !important;
  background-color: #f5f5f6;
  color: gray;
  margin-top: -31px;
 margin-left: 0px!important; 
  float: right !important;
  z-index: 8;
}
}

#footer-sub{
  background-color: #f3f7f8;
  border-top: 1px solid #dbdbdb;
  margin-bottom: -10px;
}

#footer-main{
  background-color: #012b72;
}

#footer-sub h5{
  color:#565656;
  margin-top: 25px;
}

#footer-sub ul{
  list-style: none;
  margin-top: 20px;
}

#footer-sub hr{
  margin: 5px;

}

#footer-sub ul li{
margin-left: -38px;
}

#footer-sub a:link {
  text-decoration: none;
  color:#565656;
  font-size: 12px;
}

#footer-sub a:visited {
  text-decoration: none;
  color:#565656;
}


#footer-sub a:hover {
  text-decoration: none;
  color:#000;
}


#footer-sub a:active {
  text-decoration: none;
  color:#565656;
}

.vertical-line{
  border-right: 1px solid #dbdbdb;
  margin: 8px;
  padding: 0px;
}

.glyphicon {
  font-size: 35px;
   color:#6d6c6c;
}

#sub-two{
  margin: 0px;
  padding: 0px;
}

#sub-two .vertical-line h4{
  color:#6d6c6c;
}


#footer-main ul{
  list-style: none;
}

#footer-main ul li{
  float:left;
  text-decoration: none;
  padding-left: 15px;
  margin-top: 17px;
}

#footer-main a:link {
  color:white;
  font-size: 12px;
}

#footer-main a:visited {
  color:white;
}


#footer-main a:hover {
  text-decoration: none;
  color: #00b9f5;
}


#footer-main a:active {
  color:white;
}

.glyphicon-search{
  font-size: 20px;
}

#social-menu{
  float: right;
 margin-right: 60px;
}

#side-padding{
  padding: 0px;
  margin: 0px;
}

.text-banner-container {
  width: 100%;
  margin-bottom: 20px;
}
.text-banner-subtitle, .text-banner-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-banner-title {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px;
  max-height: 5em;
  font-weight: 500;
}

.price{
  font-size: 30px;
    margin: 0 auto;
    color: #333;
}

.thumbnail{
  opacity:0.70;
  -webkit-transition: all 0.5s; 
  transition: all 0.5s;
}
.thumbnail:hover{
  opacity:1.00;
  box-shadow: 0px 0px 10px #4bc6ff;
}
.thumbnail h4
{
  color: #333; 
}
.line{
  margin-bottom: 5px;
}
@media screen and (max-width: 770px) {
  .right{
    float:left;
    width: 100%;
  }
}
span.thumbnail {
    
padding: 10px;
}

.right {
  float: right;
  border-bottom: 2px solid #0a5971;
}
.btn-info {
  color: #fff;
  background-color: #19b4e2;
  border-color: #19b4e2;
font-size:13px;
font-weight:600;
}
.desktop-androidDownLink, .desktop-iOSDownLink {
  margin-right: 10px;
  height: 42px;
}
.desktop-keepInTouch {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  margin-top: 20px;
  color:#565656;
}
.desktop-facebook, .desktop-instagram, .desktop-twitter, .desktop-youtube {
  margin: 0 15px 0 0;
  display: inline-block;
}
.desktop-facebook {
  width: 20px;
  height: 21px;
}
.desktop-section {
  margin: 15px 0 30px;
  color: #696b79;
}
.desktop-delivery, .desktop-original, .desktop-return {
  
  float: left;
  
  margin-left: -10px;
  margin-right: 10px;
  width: 47.5px;
  height: 40px;
}
.product-price {
  line-height: 15px;
  margin: 10px 0 6px;
  white-space: nowrap;

}
.product-discountedPrice,.product-price {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
  display: block;
}
.product-strike {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.product-discountPercentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}


